.meu-css-button{  
    display: flex;
    justify-content: end;
}

.header{
    padding: 5px;
    border: 1px solid rgba(71, 71, 71, 0.1);
    display: flex;
    justify-content: space-between;
}

.avatar{
    size:10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: x-large;
}

.avatarb{
    font-weight: 600; 
}
 
#posicionamentoErro{
    width: 95vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading{
    position: fixed;
    width: 100vw;
    height: 60vh;
    display: none;
    justify-content: center;
    align-items: center;    
}

#loadingGif{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 40%;  
}